html, body {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0; }

.page-wrapper {
  height: 100%; }

a, a:hover, a:focus {
  text-decoration: none; }

input {
  line-height: normal !important; }
  input:focus {
    outline: 0; }

.container-fluid {
  padding-left: 0; }

.logo img {
  width: 240px; }

.login {
  position: relative;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-color: #084c73; }
  .login:before {
    content: "";
    background: url(../img/login_background.png) no-repeat left top;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    position: absolute; }
  .login .login-footer {
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 30px;
    right: 0;
    left: 0; }

.login-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background-color: #fff;
  outline: 0;
  min-width: 400px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
  .login-container .logo {
    text-align: center;
    margin-bottom: 20px; }
    .login-container .logo img {
      max-width: 135px; }
  .login-container .form-group.label-floating.is-focused label.control-label {
    left: 30px; }
  .login-container .form-group input[type="text"], .login-container .form-group input[type="password"] {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px; }
  .login-container .form-group input[type="submit"] {
    background: #EA6A2A url(../img/login_background.png) no-repeat left top;
    border: 0;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    border-radius: 5px; }
  .login-container .form-group label {
    font-weight: 300; }
    .login-container .form-group label input[type="checkbox"] {
      float: left;
      margin-right: 5px;
      margin-top: 2px; }
  .login-container .form-group .input-icon {
    background: none;
    border: none;
    padding: 0;
    font-size: 18px;
    position: absolute;
    top: 5px;
    color: #EA6E30; }
  .login-container .form-group label.control-label {
    left: 30px; }
  .login-container .form-group .checkbox {
    margin: 0; }
    .login-container .form-group .checkbox label {
      font-size: 12px; }
    .login-container .form-group .checkbox input[type=checkbox]:checked + .checkbox-material .check, .login-container .form-group .checkbox label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check {
      border-color: #EA6A2A; }
    .login-container .form-group .checkbox input[type=checkbox]:checked + .checkbox-material .check:before, .login-container .form-group .checkbox label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check:before {
      color: #EA6A2A; }
  .login-container .form-group span {
    font-size: 12px;
    display: inline-block;
    color: #93A8AC;
    margin-top: -4px; }
    .login-container .form-group span a {
      color: #93A8AC; }

.aside {
  height: 100%;
  background-color: #263238;
  float: left;
  width: 240px; }

.content-area {
  padding-left: 240px;
  height: 100%; }
  .content-area .header {
    height: 65px; }
  .content-area .content {
    height: calc(100% - 65px);
    background: red;
    overflow: auto; }

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #222d32; }

.sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0; }

.sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
  border-left: 3px solid transparent;
  color: #b8c7ce; }

.sidebar-menu > li > a > .sidebar-icons {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 16px;
  text-align: center;
  font-size: 24px;
  vertical-align: middle; }

.sidebar-menu > li > a > .sidebar-icons > svg {
  position: absolute;
  display: inline-block;
  color: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  color: #448AFF;
  fill: #64B5F6; }

.sidebar-menu > li:not(.logo):hover > a, .sidebar-menu > li:not(.logo).active > a {
  color: #fff;
  background: #1e282c;
  border-left-color: #3c8dbc; }

.sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41; }

.sidebar-menu > li .label,
.sidebar-menu > li .badge {
  margin-top: 3px;
  margin-right: 5px; }

.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
  color: #4b646f;
  background: #1a2226; }

.sidebar-menu li.header.logo {
  padding: 10px 25px 10px 15px; }

.sidebar-menu li > a > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: 3px; }

.sidebar-menu li.active > a > .fa-angle-left {
  transform: rotate(-90deg); }

.sidebar-menu li.active > .treeview-menu {
  display: block; }

.sidebar-menu a {
  color: #b8c7ce;
  text-decoration: none; }

.sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px; }

.sidebar-menu .treeview-menu .treeview-menu {
  padding-left: 20px; }

.sidebar-menu .treeview-menu > li {
  margin: 0; }

.sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  color: #8aa4af; }

.sidebar-menu .treeview-menu > li > a > .fa {
  width: 20px; }

.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
  width: auto; }

.sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li > a:hover {
  color: #fff; }

/*# sourceMappingURL=main.css.map */
